version: 2.1

orbs:
  architect: giantswarm/architect@6.11.0

workflows:
  version: 2
  build_e2e:
    jobs:
      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: push-release-operator-to-control-plane-app-catalog
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          chart: release-operator
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master
