version: 2.1

orbs:
  architect: giantswarm/architect@6.11.0

workflows:
  version: 2
  build_e2e:
    jobs:
      - architect/go-build:
          name: go-build-release-operator
          binary: release-operator
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          requires:
            - go-build-release-operator
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master

      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: push-release-operator-to-control-plane-app-catalog
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          chart: release-operator
          requires:
            - push-to-registries
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master
