image:
  name: "giantswarm/release-operator"
  tag: ""

pod:
  user:
    id: 1000
  group:
    id: 1000

resource:
  service:
    port: 8000
    protocol: "TCP"

registry:
  domain: gsoci.azurecr.io

# Add seccomp to pod security context
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true

global:
  podSecurityStandards:
    enforced: false
